@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --veryLightGray: "hsl(0, 0%, 98%)",
    --veryLightGrayishBlue: "hsl(236, 33%, 92%)",
    --LightGrayishBlue: "hsl(233, 11%, 84%)",
    --darkGrayishBlue: "hsl(236, 9%, 61%)",
    --veryDarkGrayishBlue: "hsl(235, 19%, 35%)",
    --veryDarkBlue: "hsl(235, 21%, 11%)",
    --veryDarkDesaturatedBlue: "hsl(235, 24%, 19%)",
    --lightGrayishBlue: "hsl(234, 39%, 85%)",
    --lightGrayishBlueHover: "hsl(236, 33%, 92%)",
    --darkGrayishBlue: "hsl(234, 11%, 52%)",
    --veryDarkGrayishBlue: "hsl(233, 14%, 35%)",
    --veryDarkGrayishBlue: "hsl(237, 14%, 26%)",
    --light-background: '#ff0000';
    --dark-background: '#ff0000';
  } */

:root {
  --color-bg: hsl(0, 0%, 98%);
}

@layer base {
  h1 {
    @apply text-lg font-bold md:text-xl;
  }
}

@layer components {
  .container {
    @apply mx-auto w-[80%] max-w-[540px];
  }
  .checkbox {
    @apply h-5 w-5 rounded-full mr-3 appearance-none border cursor-pointer shrink-0;
  }
  .checkbox:hover {
    background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
      linear-gradient(135deg, #55ddff 0%, #c058f3 100%) border-box;
    border-color: transparent;
  }
  .checkbox:checked {
    background: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>'),
      linear-gradient(135deg, #55ddff 0%, #c058f3 100%) border-box;
    border-color: transparent;
  }

  .checkbox:checked + span {
    @apply line-through text-[#D1D2DA];
  }
  .box {
    @apply py-[1.25em] md:py-[1em] min-h-[48px] flex items-center bg-white px-5;
  }
  button[disabled] {
    color: #b1b3c9 !important;
  }
  .active {
    color: #3a7cfd !important;
    pointer-events: none;
  }
}
